* {
    box-sizing: border-box;
}
/* .container {
    display: flex;
    background-color: #140027;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
   
   } */
   .container {
    background-color: #140027;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
   }
   span {
    color: violet;
}
h1 {
    color: white;
   
}
.info p {
    color: white;
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 32px;

}
.flex div h1 {
    color: white;
    font-weight: bold;
    }

    
    .flex div p {
        color: white;
       opacity: 0.5;
        
    }

@media (min-width: 400px) {
.container {
    display: flex;
    flex-direction: row-reverse;
    width:900px;
    height:330px;
  }
   .container > div {
       width: 50%;
   }
   img {
    width:450px;
    height:330px;
   }

.info {
    padding: 30px 55px 0px 65px;
}


.flex {
    display: flex;
    justify-content: space-between;
}
h1 {

    font-size: 30px;
}

.flex div h1 {
    font-size: 20px;
    margin-bottom: 2px;
}
.flex div p {
     font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
}
@media (max-width: 400px) {
    .container {
        width:220px;
        height: 640px;
        border-radius: 10px 10px 10px 10px;
       
       }
       img {
           width: 220px;
           height: 180px;
           border-radius: 10px 10px 0 0;
       }
       .info {
        padding: 15px 10px 0px 10px;

    }
    
    h1 {

        font-size: 25px;
        text-align: center;
    }
    .info p {
        
        text-align: center;
    }
    .flex div h1 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 2px;
    }
    .flex div p {
       font-size: 10px;
 }
    
}